.App {
  text-align: center;
  background: #F6F6F6;
  box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 6%;
  height: 66vh;
  overflow: auto;
}
.appLogo {
  width: 20%;
  margin-bottom: -5%;
}
.headerFont {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #3B9AF7;
}